<div class="container-fluid" ng-controller="VouchersController">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card mb-2">
                <h3 class="mb-3 mt-3 ml-3">Danh sách khuyến mãi</h3>
            </div>
            <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="form-inline mb-2 form-group">
                                <div class="input-container ">
                                  <div class="col-md-6">
                                    <form class="form-inline mr-auto border text-muted">
                                      <input class="form-control input" type="search" placeholder="Tìm kiếm..." ng-model="searchText"
                                        ng-change="searchData()">
                                    </form>
                                  </div>

                                </div>
                                <div class="button-add col-lg-3">
                                    <a type="button" class="btn btn-success" href="#!/voucher-form">
                                        <i class="fa fa-plus"> </i>  Thêm voucher
                                    </a>
                                </div>
                            </div>
                            <!-- table -->
                            <div class="table-responsive">
                                <table class="table table-striped table-hover" id="dataTable-1">
                                    <thead>
                                    <tr class="th-voucher">
                                        <th>#</th>
                                        <th>
                                            <a ng-click="sortBy('voucherName')" href="" style="text-decoration: none;">
                                                Tên Voucher
                                              <i class="mdi mdi-swap-vertical"></i>
                                            </a>
                                          </th>
                                          <th>
                                            <a ng-click="sortBy('voucherId')" href="" style="text-decoration: none;">
                                                Mã voucher
                                              <i class="mdi mdi-swap-vertical"></i>
                                            </a>
                                          </th>
                                          <th>
                                            <a ng-click="sortBy('code')" href="" style="text-decoration: none;">
                                                Hình thức khuyến mãi
                                              <i class="mdi mdi-swap-vertical"></i>
                                            </a>
                                          </th>
                                          <th>
                                            <a ng-click="sortBy('discountType')" href="" style="text-decoration: none;">
                                                Loại khuyến mãi
                                              <i class="mdi mdi-swap-vertical"></i>
                                            </a>
                                          </th>
                                          <th>
                                            <a ng-click="sortBy('maximumDiscountAmount')" href="" style="text-decoration: none;">
                                                Số tiền chiết khấu tối đa
                                              <i class="mdi mdi-swap-vertical"></i>
                                            </a>
                                          </th>
                                          <th>
                                            <a ng-click="sortBy('minimumPurchaseAmount')" href="" style="text-decoration: none;">
                                                Số tiền giảm tối thiểu
                                              <i class="mdi mdi-swap-vertical"></i>
                                            </a>
                                          </th>
                                          <th>
                                            <a ng-click="sortBy('startDate')" href="" style="text-decoration: none;">
                                                Ngày bắt đầu
                                              <i class="mdi mdi-swap-vertical"></i>
                                            </a>
                                          </th>
                                          <th>
                                            <a ng-click="sortBy('endDate')" href="" style="text-decoration: none;">
                                                Ngày kết thúc
                                              <i class="mdi mdi-swap-vertical"></i>
                                            </a>
                                          </th>
                                          <th>
                                            <a ng-click="sortBy('status')" href="" style="text-decoration: none;">
                                                Trạng thái
                                              <i class="mdi mdi-swap-vertical"></i>
                                            </a>
                                          </th>
                                          <th>
                                            <a ng-click="sortBy('totalQuantity')" href="" style="text-decoration: none;">
                                                Tổng số lượng
                                              <i class="mdi mdi-swap-vertical"></i>
                                            </a>
                                          </th>
                                      
                                        <th class="form-group">Mô tả<span class="text-white">...................................</span>
                                        </th>
                                        
                                        <th>Thao tác</th>
                                    </tr>
                                    </thead>


                                    <tbody>
                                    <tr
                                            ng-repeat="voucher in vouchers   | orderBy:orderByField:reverseSort  | startFrom:(currentPage - 1) * itemsPerPage | limitTo:itemsPerPage">
                                        <td>{{voucher.voucherId}}</td>
                                        <td>{{voucher.voucherName}}</td>
                                        <td>{{voucher.code}}</td>
                                        <td>{{voucher.discountType}}</td>
                                        <td>{{voucher.voucherType}}</td>
                                        <td>{{voucher.maximumDiscountAmount}}</td>
                                        <td>{{voucher.minimumPurchaseAmount}}</td>
                                        <td>{{voucher.startDate | date:'MM/dd/yyyy'}}</td>
                                        <td>{{voucher.endDate | date:'MM/dd/yyyy'}}</td>
                                        <td>{{voucher.status ? 'Còn hạn' : 'Hết hạn'}}</td>
                                        <td>{{voucher.totalQuantity}}</td>
                                        <td>{{voucher.description}}</td>
                                        <td>
                                            <a ng-click="editVoucherAndRedirect(voucher.voucherId)"><i
                                                    class="fe fe-edit fe-16"></i></a>
                                            <a ng-show="roleName !== 'Nhân viên'"
                                               ng-click="deleteVoucher(voucher.voucherId)"><i
                                                    class="fe fe-trash-2 fe-16"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="p-3">
                                <div class="toolbar">
                                    <form class="form">
                                        <div class="form-row">
                                            <div class="form-inline col-auto mr-auto">
                                                <label class="my-1 mr-2" for="inlineFormCustomSelectPref1">Show</label>
                                                <select class="mr-sm-2 form-control" id="inlineFormCustomSelectPref1"
                                                        ng-model="itemsPerPage"
                                                        ng-options="option for option in itemsPerPageOptions"
                                                        ng-change="currentPage = 1">
                                                </select>
                                            </div>
                                            <div class="form-group col-auto">
                                                <span>Đang xem {{ calculateRange() }}</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <ul uib-pagination ng-model="currentPage" total-items="totalItems"
                                    items-per-page="itemsPerPage" max-size="maxSize" class="pagination-sm"
                                    boundary-link-numbers="true" boundary-links="true" force-ellipses="true"
                                    previous-text="<" next-text=">" first-text="<<" last-text=">>"></ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- simple table -->
            </div> <!-- end section -->
        </div> <!-- .col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->