<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{client/main-layout.html :: layout (~{::title}, ~{::#layout})}">

<head>
    <title>Tài khoản</title>
</head>
<main id="layout">
    <div class="site-wrapper profile-account" id="top" ng-controller="ReviewController">
        <section class="breadcrumb-section">
            <div class="container">
                <div class="breadcrumb-contents">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index" th:text="#{lo.mn.homecon}">Trang chủ</a></li>
                            <li class="breadcrumb-item " th:text="#{lo.mn.account}">Tài khoản</li>
                            <li class="breadcrumb-item active" th:text="#{lo.mn.nxct}">Nhận xét của tôi</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <div class="page-section inner-page-sec-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <!-- My Account Tab Menu Start -->
                            <div class="col-lg-3 col-12">
                                <div class="myaccount-tab-menu nav" role="tablist">
                                    <a href="/account/info">
                                        <i class="fa fa-user"></i>
                                        <span th:text="#{lo.mn.tttk}">Thông tin tài khoản</span>
                                    </a>
                                    <a href="/account/order">
                                        <i class="fa fa-cart-arrow-down"></i>
                                        <span th:text="#{lo.mn.dhct}">Đơn hàng của tôi</span>
                                    </a>
                                    <a href="/account/address">
                                        <i class="fa fa-map-marker"></i>
                                        <span th:text="#{lo.mn.tabaddress}">Địa chỉ</span>
                                    </a>
                                    <a href="/account/voucher">
                                        <i class="fa fa-percent"></i>
                                        <span th:text="#{lo.mn.tabvoucher}"> Voucher của tôi</span>
                                    </a>
                                    <a href="/account/notification">
                                        <i class="fa fa-bell"></i>
                                        <span th:text="#{lo.mn.messenger}">Thông báo</span>
                                    </a>
                                    <a href="/account/review" class="active">
                                        <i class="fa fa-comment"></i>
                                        <span th:text="#{lo.mn.nxct}">Nhận xét của tôi</span>
                                    </a>
                                </div>
                            </div>
                            <!-- My Account Tab Menu End -->
                            <!-- My Account Tab Content Start -->
                            <div class="col-lg-9 col-12 mt--30 mt-lg--0">
                                <div class="tab-content" id="myaccountContent">
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade active show" id="download" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3 th:text="#{lo.mn.nxct}">Nhận xét của tôi</h3>
                                            <div class="myaccount-table table-responsive text-center"
                                                 id="table-container">
                                                <table id="table-account-review">
                                                    <tbody>
                                                    <tr ng-repeat="review in reviews track by $index">
                                                        <td><small class="review-date">{{review.date|date:'hh:mm
                                                            dd/MM/yyyy '}}</small>
                                                        </td>
                                                        <td>
                                                            <a href="">
                                                                <small class="review-product-name">
                                                                    {{
                                                                    trimText(review.productDetail.product.productName)
                                                                    }}
                                                                </small>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <div class="rating-block">
                                                                    <span class="fa fa-star"
                                                                          ng-class="{ 'star_on': review.star >= 1 }"></span>
                                                                <span class="fa fa-star"
                                                                      ng-class="{ 'star_on': review.star >= 2 }"></span>
                                                                <span class="fa fa-star"
                                                                      ng-class="{ 'star_on': review.star >= 3 }"></span>
                                                                <span class="fa fa-star"
                                                                      ng-class="{ 'star_on': review.star >= 4 }"></span>
                                                                <span class="fa fa-star"
                                                                      ng-class="{ 'star_on': review.star >= 5 }"></span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <small class="review-product-name">
                                                                {{ trimText(review.comment) }}
                                                            </small>
                                                        </td>
                                                        <td>
                                                            <a ng-click="getReviewId(review.reviewId)" th:text="#{lo.mn.flsee}">Xem thêm</a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->

                                </div>
                                <!-- My Account Tab Content End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" ng-controller="OrderDetailController"></div>
</main>

</html>