<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{client/main-layout.html :: layout (~{::title}, ~{::#layout})}">

<head>
    <title>Bảo hành</title>
</head>
<main id="layout" ng-controller="ContactController">
    <div class="site-wrapper" id="top">
        <section class="breadcrumb-section">
            <h2 class="sr-only">Site Breadcrumb</h2>
            <div class="container">
                <div class="breadcrumb-contents">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#!home" th:text="#{lo.mn.homecon}">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Ưu đãi bảo hành</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- contact area Start -->

        <!-- contact area End -->

        <div class="std">
            <div class="main-controller col1-layout">
                <div class="main1" style="background-color: #ffffff; padding: 8px 16px;">
                    <div class="page-empty-banner col-lg-12 col-md-12 col-sm-12">
                        <h4 class="text-uppercase text-center font-weight-bold mb-4">CHÍNH SÁCH BẢO HÀNH
                        </h4>

                        <div class="dieukhoanne">

                            <h6 class="font-weight-bold">1. Tôi có thể bảo hành sản phẩm tại đâu?</h6>

                            <p>
                                <p> - Bảo hành chính hãng: Đối với các sản phẩm điện tử, đồ chơi điện tử,... có tem
                                    phiếu
                                    cam kết bảo hành từ Hãng, khách hàng có thể mang sản phẩm đến trực tiếp Hãng để bảo
                                    hành
                                    mà không cần thông qua <strong style="color: #009900">GreenHouse</strong>.</p>

                                - Bảo hành thông qua <strong style="color: #009900">GreenHouse</strong>: khách hàng liên
                                hotline <strong>088.6077.296</strong> hoặc truy cập
                                <strong style="color: #009900">GreenHouse</strong>/chinh-sach-bao-hanh-san-pham để
                                được hỗ trợ tư vấn về thực hiện bảo hành

                            </p>

                            <h6 class="font-weight-bold">2. Tôi có thể được bảo hành sản phẩm miễn phí không?</h6>

                            <p>

                                <p>Sản phẩm của quý khách được bảo hành miễn phí chính hãng khi:</p>

                                <li>Còn thời hạn bảo hành (dựa trên tem/phiếu bảo hành hoặc thời điểm kích hoạt bảo hành
                                    điện tử).</li>

                                <li>Tem/phiếu bảo hành còn nguyên vẹn.</li>

                                <li>Sản phẩm bị lỗi kỹ thuật.</li>
                                <br>

                                <p> Các trường hợp có thể phát sinh phí bảo hành:</p>

                                <li>Sản phẩm hết thời hạn bảo hành.</li>

                                <li>Sản phẩm bị bể, biến dạng, cháy, nổ, ẩm thấp trong động cơ hoặc hư hỏng trong quá
                                    trình sử dụng.</li>

                                <li>Sản phẩm bị hư hỏng do lỗi của người sử dụng, không xuất phát từ lỗi vốn có của hàng
                                    hóa.</li>
                            </p>


                            <h6 class="font-weight-bold">3. Sau bao lâu tôi có thể nhận lại sản phẩm bảo hành?</h6>

                            <p>

                                <p>Nếu sản phẩm của quý khách vẫn còn trong thời hạn bảo hành trên team phiếu bảo hành
                                    của
                                    Hãng, <strong
                                    style="color: #009900">GreenHouse</strong> khuyến khích quý khách gửi trực tiếp đến trung tâm của Hãng để được hỗ
                                    trợ
                                    bảo hành trong thời gian nhanh nhất.</p>

                                <p>Trường hợp quý khách gửi hàng về <strong style="color: #009900">GreenHouse</strong>,
                                    thời gian bảo hành dự kiến trong vòng
                                    21-
                                    45 ngày tùy thuộc vào điều kiện sẵn có của linh kiện thay thế từ nhà sản xuất/lỗi
                                    sản
                                    phẩm (không tính thời gian vận chuyển đi và về).</p>
                            </p>

                            <h6 class="font-weight-bold">4. GreenHouse bảo hành
                                bằng các hình thức nào?</h6>

                            <p>

                                <p> Sản phẩm tại <strong style="color: #009900">GreenHouse</strong> sẽ được bảo hành
                                    bằng 1 trong 4 hình thức sau:</p>

                                <li> Hóa đơn: khách hàng mang theo hóa đơn trực tiếp hoặc hóa đơn giá trị gia tăng có
                                    thông
                                    tin của sản phẩm để được bảo hành.</li>

                                <li>Phiếu bảo hành: đi kèm theo sản phẩm, có đầy đủ thông tin về nơi bảo hành và điều
                                    kiện
                                    bảo hành.</li>

                                <li> Tem bảo hành: loại tem đặc biệt chỉ sử dụng một lần, được dán trực tiếp lên sản
                                    phẩm.
                                    Sản phẩm còn trong thời hạn bảo hành phải thỏa điều kiện tem còn nguyên vẹn và thời
                                    gian
                                    bảo hành phải trước ngày được viết trên tem.</li>

                                <li>Điện tử: là chế độ bảo hành sản phẩm trực tuyến thay thế cho phương pháp bảo hành
                                    thông
                                    thường bằng giấy hay thẻ bảo hành bằng cách: nhắn tin SMS kích hoạt, quét mã QR-Code
                                    từ
                                    tem nhãn, đăng ký trên website hoặc bằng ứng dụng bảo hành.</li>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>





        <section class="section-margin">
            <h2 class="sr-only">Brand Slider</h2>
            <div class="container">
                <div class="brand-slider sb-slick-slider border-top border-bottom" data-slick-setting='{
                                            "autoplay": true,
                                            "autoplaySpeed": 8000,
                                            "slidesToShow": 6
                                            }' data-slick-responsive='[
                {"breakpoint":992, "settings": {"slidesToShow": 4} },
                {"breakpoint":768, "settings": {"slidesToShow": 3} },
                {"breakpoint":575, "settings": {"slidesToShow": 3} },
                {"breakpoint":480, "settings": {"slidesToShow": 2} },
                {"breakpoint":320, "settings": {"slidesToShow": 1} }
            ]'>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh1.jfif" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh2.jfif" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh3.jpg" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh4.jpeg" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh5.jpg" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh6.avif" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh7.jpg" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh8.webp" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

</html>