<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{client/main-layout.html :: layout (~{::title}, ~{::#layout})}">

<head>
    <title>Điều khoản sử dụng</title>
</head>
<main id="layout" ng-controller="ContactController">
    <div class="site-wrapper" id="top">
        <section class="breadcrumb-section">
            <h2 class="sr-only">Site Breadcrumb</h2>
            <div class="container">
                <div class="breadcrumb-contents">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#!home" th:text="#{lo.mn.homecon}">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Bảo mật thông tin cá nhân</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- contact area Start -->

        <!-- contact area End -->

        <div class="std">
            <div class="main-controller col1-layout">
                <div class="main1" style="background-color: #ffffff; padding: 8px 16px;">
                    <div class="page-empty-banner col-lg-12 col-md-12 col-sm-12">
                        <h4 class="text-uppercase text-center font-weight-bold mb-4">CHÍNH SÁCH BẢO MẬT THÔNG TIN CÁ
                            NHÂN CỦA KHÁCH HÀNG</h4>

                        <div class="dieukhoanne">
                            <p><strong style="color: #009900">GreenHouse</strong> mong muốn đem lại một tiện ích mua
                                hàng trực tuyến tin cậy, tiết kiệm và thấu hiểu
                                người dùng. Chúng tôi nhận thấy khách hàng sử dụng website <strong
                                    style="color: #009900">GreenHouse</strong> để mua sắm nhưng
                                không phải ai cũng mong muốn chia sẻ thông tin cá nhân của mình. Chúng tôi, Công ty
                                <strong style="color: #009900">GreenHouse</strong>, tôn trọng quyền riêng tư của khách
                                hàng và cam kết bảo mật thông tin cá nhân của
                                khách hàng khi khách hàng tin vào chúng tôi cung cấp thông tin cá nhân của khách hàng
                                cho chúng tôi khi mua sắm tại website <strong style="color: #009900">GreenHouse</strong>

                                <br>
                                <br>
                                Chính Sách Bảo Mật Thông Tin Cá Nhân này bao gồm các nội dung:

                                <p> 1. Sự Chấp Thuận</p>

                                <p>2. Mục Đích Thu Thập</p>

                                <p>3. Phạm Vi Thu Thập</p>

                                <p>4. Thời Gian Lưu Trữ</p>

                                <p>5. Không Chia Sẻ Thông Tin Cá Nhân Khách Hàng</p>

                                <p> 6. An Toàn Dữ Liệu</p>

                                <p>7. Quyền Của Khách Hàng Đối Với Thông Tin Cá Nhân</p>

                                <p>8. Thông Tin Liên Hệ</p>

                                <p> 9. Đơn Vị Thu Thập và Quản Lý Thông Tin</p>

                                <p> 10. Hiệu lực</p>
                            </p>

                            <br>

                            <h6 class="font-weight-bold">1. Sự Chấp Thuận</h6>

                            <p>Bằng việc trao cho chúng tôi thông tin cá nhân của bạn, <strong
                                    style="color: #009900">GreenHouse</strong> đồng ý rằng thông tin cá
                                nhân của bạn sẽ được thu thập, sử dụng như được nêu trong Chính Sách này. Nếu bạn không
                                đồng ý với Chính Sách này, bạn dừng cung cấp cho chúng tôi bất cứ thông tin cá nhân nào
                                và/hoặc sử dụng các quyền như được nêu tại Mục 7 dưới đây. Chúng tôi bảo lưu quyền sửa
                                đổi, bổ sung nhằm hoàn thiện đối với Chính Sách này vào bất kỳ thời điểm nào. Chúng tôi
                                khuyến khích bạn thường xuyên xem lại Chính Sách Bảo Mật Thông Tin Cá Nhân này để có
                                được những cập nhật mới nhất đảm bảo bạn biết và thực hiện quyền quản lý thông tin cá
                                nhân của bạn.</p>
                                <br>

                                <h6 class="font-weight-bold">2. Mục Đích Thu Thập</h6>

                                <p>Chúng tôi thu thập thông tin cá nhân chỉ cần thiết nhằm phục vụ cho các mục đích:

                                    <li> Đơn Hàng: để xử lý các vấn đề liên quan đến đơn đặt hàng của bạn;</li>

                                    <li> Duy Trì Tài Khoản: để tạo và duy trình tài khoản của bạn với chúng tôi, bao gồm
                                        cả
                                        các chương trình khách hàng thân thiết hoặc các chương trình thưởng đi kèm với
                                        tài
                                        khoản của bạn;</li>

                                    <li>Dịch Vụ Người Tiêu Dùng, Dịch Vụ Chăm Sóc Khách Hàng: bao gồm các phản hồi cho
                                        các
                                        yêu cầu, khiếu nại và phản hồi của bạn;</li>

                                    <li>Cá Nhân Hóa: Chúng tôi có thể tổ hợp dữ liệu được thu thập để có một cái nhìn
                                        hoàn
                                        chỉnh hơn về một người tiêu dùng và từ đó cho phép chúng tôi phục vụ tốt hơn với
                                        sự
                                        cá nhân hóa mạnh hơn ở các khía cạnh, bao gồm nhưng không giới hạn: (i) để cải
                                        thiện
                                        và cá nhân hóa trải nghiệm của bạn trên <strong
                                        style="color: #009900">GreenHouse</strong> (ii) để cải thiện các tiện
                                        ích,
                                        dịch vụ, điều chỉnh chúng phù hợp với các nhu cầu được cá thể hóa và đi đến
                                        những ý
                                        tưởng dịch vụ mới (iii) để phục vụ bạn với những giới thiệu, quảng cáo được điều
                                        chỉnh phù hợp với sự quan tâm của bạn.</li>

                                    <li> An Ninh: cho các mục đích ngăn ngừa các hoạt động phá hủy tài khoản người dùng
                                        của
                                        khách hàng hoặc các hoạt động giả mạo khách hàng.</li>

                                    <li>Theo yêu cầu của pháp luật: tùy quy định của pháp luật vào từng thời điểm, chúng
                                        tôi
                                        có thể thu thập, lưu trữ và cung cấp theo yêu cầu của cơ quan nhà nước có thẩm
                                        quyền.</li>
                                </p>

                                <br>

                                <h6 class="font-weight-bold">3. Phạm Vi Thu Thập
                                </h6>

                                <p>Chúng tôi thu thập thông tin cá nhân của bạn khi:

                                    <li>Bạn trực tiếp cung cấp cho chúng tôi.</li>

                                    <li>Đó là các thông tin cá nhân bạn cung cấp cho chúng tôi được thực hiện chủ yếu
                                        trên
                                        website <strong
                                        style="color: #009900">GreenHouse</strong> bao gồm: họ tên, địa chỉ thư điện tử (email), số điện thoại,
                                        địa
                                        chỉ, thông tin đăng nhập tài khoản bao gồm thông tin bất kỳ cần thiết để thiết
                                        lập
                                        tài khoản ví dụ như tên đăng nhập, mật khẩu đăng nhập, ID/địa chỉ đăng nhập và
                                        câu
                                        hỏi/trả lời an ninh.</li>

                                    <li>Bạn tương tác với chúng tôi.</li>

                                    <li>Chúng tôi sử dụng cookies và công nghệ theo dấu khác để thu thập một số thông
                                        tin
                                        khi bạn tương tác trên website <strong
                                        style="color: #009900">GreenHouse</strong></li>

                                    <li>Từ những nguồn hợp pháp khác.</li>

                                    Chúng tôi có thể sẽ thu thập thông tin cá nhân từ các nguồn hợp pháp khác.
                                </p>

                                <br>

                                <h6 class="font-weight-bold">4. Thời Gian Lưu Trữ</h6>

                                <p>Thông tin cá nhân của khách hàng sẽ được lưu trữ cho đến khi khách hàng có yêu cầu
                                    hủy bỏ hoặc khách hàng tự đăng nhập và thực hiện hủy bỏ. Trong mọi trường hợp thông
                                    tin cá nhân của khách hàng sẽ được

                                    bảo mật trên máy chủ của <strong
                                    style="color: #009900">GreenHouse</strong>.
                                </p>

                                <h6 class="font-weight-bold">5. Không Chia Sẻ Thông Tin Cá Nhân Khách Hàng</h6>

                                <p>Chúng tôi sẽ không cung cấp thông tin cá nhân của bạn cho bất kỳ bên thứ ba nào, trừ
                                    một số hoạt động cần thiết dưới đây:

                                    <li> Các đối tác là bên cung cấp dịch vụ cho chúng tôi liên quan đến thực hiện đơn
                                        hàng
                                        và chỉ giới hạn trong phạm vi thông tin cần thiết cũng như áp dụng các quy định
                                        đảm
                                        bảo an ninh, bảo mật các thông tin cá nhân.</li>

                                    <li> Chúng tôi có thể sử dụng dịch vụ từ một nhà cung cấp dịch vụ là bên thứ ba để
                                        thực
                                        hiện một số hoạt động liên quan đến website <strong
                                        style="color: #009900">GreenHouse</strong> và khi đó bên thứ ba này
                                        có
                                        thể truy cập hoặc xử lý các thông tin cá nhân trong quá trình cung cấp các dịch
                                        vụ
                                        đó. Chúng tôi yêu cầu các bên thứ ba này tuân thủ mọi luật lệ về bảo vệ thông
                                        tin cá
                                        nhân liên quan và các yêu cầu về an ninh liên quan đến thông tin cá nhân.</li>

                                    <li>Các chương trình có tính liên kết, đồng thực hiện, thuê ngoài cho các mục địch
                                        được
                                        nêu tại Mục 2 và luôn áp dụng các yêu cầu bảo mật thông tin cá nhân.</li>

                                    <li> Yêu cầu pháp lý: Chúng tôi có thể tiết lộ các thông tin cá nhân nếu điều đó do
                                        luật
                                        pháp yêu cầu và việc tiết lộ như vậy là cần thiết một cách hợp lý để tuân thủ
                                        các
                                        quy trình pháp lý.</li>

                                    <li>Chuyển giao kinh doanh (nếu có): trong trường hợp sáp nhập, hợp nhất toàn bộ
                                        hoặc
                                        một phần với công ty khác, người mua sẽ có quyền truy cập thông tin được chúng
                                        tôi
                                        lưu trữ, duy trì trong đó bao gồm cả thông tin cá nhân.</li>
                                </p>

                                <h6 class="font-weight-bold">6. An Toàn Dữ Liệu</h6>

                                <p>Chúng tôi luôn nỗ lực để giữ an toàn thông tin cá nhân của khách hàng, chúng tôi đã
                                    và đang thực hiện nhiều biện pháp an toàn, bao gồm:

                                    <li>Bảo đảm an toàn trong môi trường vận hành: chúng tôi lưu trữ không tin cá nhân
                                        khách
                                        hàng trong môi trường vận hành an toàn và chỉ có nhân viên, đại diện và nhà cung
                                        cấp
                                        dịch vụ có thể truy cập trên cơ sở cần phải biết. Chúng tôi tuân theo các tiêu
                                        chuẩn
                                        ngành, pháp luật trong việc bảo mật thông tin cá nhân khách hàng..</li>

                                    <li> Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát
                                        dữ
                                        liệu cá nhân khách hàng, chúng tôi sẽ có trách nhiệm thông báo vụ việc cho cơ
                                        quan
                                        chức năng để điều tra xử lý kịp thời và thông báo cho khách hàng được biết.</li>

                                    <li>Các thông tin thanh toán: được bảo mật theo tiêu chuẩn ngành.</li>

                                </p>

                                <h6 class="font-weight-bold">7. Quyền Của Khách Hàng Đối Với Thông Tin Cá Nhân</h6>

                                <p>Khách hàng có quyền cung cấp thông tin cá nhân cho chúng tôi và có thể thay đổi quyết
                                    định đó vào bất cứ lúc nào. Khách hàng có quyền tự kiểm tra, cập nhật, điều chỉnh
                                    thông tin cá nhân của mình bằng cách đăng nhập vào tài khoản và chỉnh sửa thông tin
                                    cá nhân hoặc yêu cầu chúng tôi thực hiện việc này.

                                </p>

                                <h6 class="font-weight-bold">8. Thông Tin Liên Hệ</h6>

                                <p>Nếu bạn có câu hỏi hoặc bất kỳ thắc mắc nào về Chính Sách này hoặc thực tế việc thu
                                    thập,
                                    quản lý thông tin cá nhân của chúng tôi, xin vui

                                    lòng liên hệ với chúng tôi bằng cách:
                                    <br>

                                    Gọi điện thoại đến hotline: <strong>088.6077.296</strong>
                                    <br>

                                    Gửi thư điện tử đến địa chỉ email: <strong>greenhouse20033@gmail.com</strong>

                                </p>

                                <h6 class="font-weight-bold">9. Đơn Vị Thu Thập và Quản Lý Thông Tin</h6>

                                <p>Cửa hàng sách và dụng cụ học tập GreenHouse
                                    <br>

                                    Thành lập và hoạt động theo Giấy chứng nhận đăng ký doanh nghiệp số: 0304132047 do
                                    Sở Kế hoạch và Đầu tư thành phố Cần Thơ cấp, đăng ký lần đầu ngày 20 tháng 8
                                    năm 2021.
                                    <br>

                                    Trụ sở: Toà nhà FPT Polytechnic, Đ. Số 22, Thường Thạnh, Cái Răng, Cần Thơ, Vietnam
                                    <br>
                                    Địa chỉ liên hệ: Toà nhà FPT Polytechnic, Đ. Số 22, Thường Thạnh, Cái Răng, Cần Thơ, Vietnam

                                </p>

                                <h6 class="font-weight-bold">10. Hiệu lực Chính Sách Bảo Mật Thông Tin Cá Nhân này có hiệu lực từ ngày 01/07/2021.</h6>

                                <p>
                                   <strong> ĐẠI DIỆN CỬA HÀNG SÁCH VÀ DỤNG CỤ HỌC TẬP GREENHOUSE.</strong>
                                   <br>
                                   <br>

                                    [Đã ký và đóng dấu]
                                    <br>
                                    <br>

                                    <strong>LÂM DIỄM THÚY</strong>
                                    <br>
                                    
                                    Giám Đốc

                                </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>





        <section class="section-margin">
            <h2 class="sr-only">Brand Slider</h2>
            <div class="container">
                <div class="brand-slider sb-slick-slider border-top border-bottom" data-slick-setting='{
                                            "autoplay": true,
                                            "autoplaySpeed": 8000,
                                            "slidesToShow": 6
                                            }' data-slick-responsive='[
                {"breakpoint":992, "settings": {"slidesToShow": 4} },
                {"breakpoint":768, "settings": {"slidesToShow": 3} },
                {"breakpoint":575, "settings": {"slidesToShow": 3} },
                {"breakpoint":480, "settings": {"slidesToShow": 2} },
                {"breakpoint":320, "settings": {"slidesToShow": 1} }
            ]'>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh1.jfif" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh2.jfif" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh3.jpg" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh4.jpeg" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh5.jpg" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh6.avif" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh7.jpg" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh8.webp" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

</html>