<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{client/main-layout.html :: layout (~{::title}, ~{::#layout})}">

<head>
    <title>Điều khoản sử dụng</title>
</head>
<main id="layout" ng-controller="ContactController">
    <div class="site-wrapper" id="top">
        <section class="breadcrumb-section">
            <h2 class="sr-only">Site Breadcrumb</h2>
            <div class="container">
                <div class="breadcrumb-contents">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#!home" th:text="#{lo.mn.homecon}">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Điều khoản sử dụng</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- contact area Start -->

        <!-- contact area End -->

        <div class="std">
            <div class="main-controller col1-layout">
                <div class="main1" style="background-color: #ffffff; padding: 8px 16px;">
                    <div class="page-empty-banner col-lg-12 col-md-12 col-sm-12">
                        <h4 class="text-uppercase text-center font-weight-bold mb-4">Điều khoản sử dụng</h4>

                        <div class="dieukhoanne">
                            <p>Chào mừng quý khách đến mua sắm tại <strong style="color: #009900">GreenHouse</strong> .
                                Sau khi truy cập vào website <strong style="color: #009900">GreenHouse</strong> để tham
                                khảo hoặc mua sắm, quý khách đã đồng ý tuân thủ và ràng buộc với những quy định của
                                <strong style="color: #009900">GreenHouse</strong>. Vui lòng
                                xem kỹ các quy định và hợp tác với chúng tôi để xây dựng 1 website <strong
                                    style="color: #009900">GreenHouse</strong> ngày càng thân
                                thiện và phục
                                vụ tốt những yêu cầu của chính quý khách. Ngoài ra, nếu có bất cứ câu hỏi nào về những
                                thỏa thuận trên
                                đây, vui lòng email cho chúng tôi qua địa chỉ <strong>greenhouse20033@gmail.com</strong>
                            </p>

                            <br>

                            <h6 class="font-weight-bold">Tài khoản của khách hàng</h6>

                            <p>Khi sử dụng dịch vụ <strong style="color: #009900">GreenHouse</strong>, quý khách sẽ cung
                                cấp cho chúng tôi thông tin về địa chỉ
                                email, mật khẩu và họ tên để có được 1 tài khoản tại đây. Việc sử dụng và bảo mật thông
                                tin tài khoản là
                                trách nhiệm và quyền lợi của quý khách khi sử dụng <strong
                                    style="color: #009900">GreenHouse</strong>. Ngoài ra, những thông tin
                                khác trong tài khoản
                                như tên tuổi, địa chỉ.... là những thông tin sẽ giúp <strong
                                    style="color: #009900">GreenHouse</strong> phục vụ quý khách tốt nhất.
                                Trong trường hợp
                                thông tin do quý khách cung cấp không đầy đủ hoặc sai dẫn đến việc không thể giao hàng
                                cho quý khách, chúng
                                tôi có quyền đình chỉ hoặc từ chối phục vụ, giao hàng mà không phải chịu bất cứ trách
                                nhiệm nào đối với
                                quý khách. Khi có những thay đổi thông tin của quý khách, vui lòng cập nhật lại thông
                                tin trong tài khoản
                                tại <strong style="color: #009900">GreenHouse</strong>. Quý khách phải giữ kín mật khẩu
                                và tài khoản, hoàn toàn chịu trách nhiệm đối
                                với tất cả các
                                hoạt động diễn ra thông qua việc sử dụng mật khẩu hoặc tài khoản của mình. Quý khách nên
                                đảm bảo thoát
                                khỏi tài khoản tại <strong style="color: #009900">GreenHouse</strong> sau mỗi lần sử
                                dụng để bảo mật thông tin của mình</p>

                            <br>

                            <h6 class="font-weight-bold">Quyền lợi bảo mật thông tin của khách hàng</h6>

                            <p>Khi sử dụng dịch vụ tại website <strong style="color: #009900">GreenHouse</strong>, quý
                                khách được đảm bảo rằng những thông tin cung
                                cấp cho chúng tôi sẽ chỉ được dùng để nâng cao chất lượng dịch vụ dành cho khách hàng
                                của <strong style="color: #009900">GreenHouse</strong> và sẽ
                                không được chuyển giao cho 1 bên thứ ba nào khác vì mục đích thương mại. Thông tin của
                                quý khách tại <strong style="color: #009900">GreenHouse</strong>
                                sẽ được chúng tôi bảo mật và chỉ trong trường hợp pháp luật yêu cầu, chúng tôi sẽ buộc
                                phải cung cấp
                                những thông tin này cho các cơ quan pháp luật.</p>

                            <br>

                            <h6 class="font-weight-bold">Trách nhiệm của khách hàng khi sử dụng dịch vụ của GreenHouse
                            </h6>

                            <p>Quý khách tuyệt đối không được sử dụng bất kỳ công cụ, phương pháp nào để can thiệp, xâm
                                nhập
                                bất hợp pháp vào hệ thống hay làm thay đổi cấu trúc dữ liệu tại website <strong
                                    style="color: #009900">GreenHouse</strong>. Quý
                                khách không được có
                                những hành động (thực hiện, cổ vũ) việc can thiệp, xâm nhập dữ liệu của <strong
                                    style="color: #009900">GreenHouse</strong> cũng như
                                hệ thống máy
                                chủ của chúng tôi. Ngoài ra, xin vui lòng thông báo cho quản trị web của <strong
                                    style="color: #009900">GreenHouse</strong> ngay khi
                                quý khách phát
                                hiện ra lỗi hệ thống theo số điện thoại <strong>088.6077.296</strong>  hoặc email
                                <strong>greenhouse20033@gmail.com</strong>
                                Quý khách không được đưa ra những nhận xét, đánh giá có ý xúc phạm, quấy rối, làm phiền
                                hoặc có bất cứ
                                hành vi nào thiếu văn hóa đối với người khác. Không nêu ra những nhận xét có tính chính
                                trị (tuyên truyền,
                                chống phá, xuyên tạc chính quyền), kỳ thị tôn giáo, giới tính, sắc tộc....Tuyệt đối cấm
                                mọi hành vi mạo
                                nhận, cố ý tạo sự nhầm lẫn mình là một khách hàng khác hoặc là thành viên Ban Quản Trị
                                <strong style="color: #009900">GreenHouse</strong>.</p>

                            <br>

                            <h6 class="font-weight-bold">Trách nhiệm và quyền lợi của GreenHouse</h6>

                            <p>Trong trường hợp có những phát sinh ngoài ý muốn hoặc trách nhiệm của mình, <strong
                                    style="color: #009900">GreenHouse</strong> sẽ
                                không
                                chịu trách nhiệm về mọi tổn thất phát sinh. Ngoài ra, chúng tôi không cho phép các tổ
                                chức, cá nhân khác
                                quảng bá sản phẩm tại website <strong style="color: #009900">GreenHouse</strong> mà chưa
                                có sự đồng ý bằng văn bản từ <strong style="color: #009900">GreenHouse Corporation</strong>
                                . Các thỏa thuận
                                và quy định trong Điều khoản sử dụng có thể thay đổi vào bất cứ lúc nào nhưng sẽ được
                                <strong style="color: #009900">GreenHouse Corporation</strong> 
                                thông báo cụ thể trên website <strong style="color: #009900">GreenHouse</strong>.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>





        <section class="section-margin">
            <h2 class="sr-only">Brand Slider</h2>
            <div class="container">
                <div class="brand-slider sb-slick-slider border-top border-bottom" data-slick-setting='{
                                            "autoplay": true,
                                            "autoplaySpeed": 8000,
                                            "slidesToShow": 6
                                            }' data-slick-responsive='[
                {"breakpoint":992, "settings": {"slidesToShow": 4} },
                {"breakpoint":768, "settings": {"slidesToShow": 3} },
                {"breakpoint":575, "settings": {"slidesToShow": 3} },
                {"breakpoint":480, "settings": {"slidesToShow": 2} },
                {"breakpoint":320, "settings": {"slidesToShow": 1} }
            ]'>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh1.jfif" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh2.jfif" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh3.jpg" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh4.jpeg" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh5.jpg" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh6.avif" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh7.jpg" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh8.webp" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

</html>