<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{client/main-layout.html :: layout (~{::title}, ~{::#layout})}">

<head>
    <title>Hệ thống</title>
</head>
<main id="layout" ng-controller="ContactController">
    <div class="site-wrapper" id="top">
        <section class="breadcrumb-section">
            <h2 class="sr-only">Site Breadcrumb</h2>
            <div class="container">
                <div class="breadcrumb-contents">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#!home" th:text="#{lo.mn.homecon}">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Hệ thống uy tín</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- contact area Start -->

        <!-- contact area End -->

        <div class="std">
            <div class="main-controller col1-layout">
                <div class="main1" style="background-color: #ffffff; padding: 8px 16px;">
                    <div class="page-empty-banner col-lg-12 col-md-12 col-sm-12">
                        <h4 class="text-uppercase text-center font-weight-bold mb-4">GIỚI THIỆU GREENHOUSE</h4>

                        <div class="dieukhoanne">

                            <h6 class="font-weight-bold">Nguồn nhân lực</h6>

                            <p>Để xây dựng Thương hiệu mạnh, một trong những định hướng quan trọng hàng đầu của <strong
                                    style="color: #009900">GreenHouse</strong>
                                là chiến lược phát triển nguồn nhân lực - mấu chốt của mọi sự thành công.
                                <br>

                                <strong style="color: #009900">GreenHouse</strong> có hơn 20 CB-CNV, trình độ chuyên
                                môn giỏi, nhiệt tình, năng động, chuyên
                                nghiệp. Lực lượng quản lý <strong style="color: #009900">GreenHouse</strong> có thâm
                                niên công tác, giỏi nghiệp vụ nhiều kinh
                                nghiệm, có khả năng quản lý tốt và điều hành đơn vị hoạt động hiệu quả.
                                <br>
                                Kết hợp tuyển dụng nguồn nhân lực đầu vào có chất lượng và kế hoạch bồi dưỡng kiến thức,
                                rèn luyện bổ sung các kỹ năng và chuẩn bị đội ngũ kế thừa theo hướng chính qui thông qua
                                các lớp học ngắn hạn, dài hạn; các lớp bồi dưỡng CB-CNV được tổ chức trong nước cũng như
                                ở nước ngoài đều được lãnh đạo <strong style="color: #009900">GreenHouse</strong> đặc
                                biệt quan tâm và tạo điều kiện triển khai thực
                                hiện. Chính vì thế, trình độ chuyên môn của đội ngũ CB-CNV ngày càng được nâng cao, đáp
                                ứng nhu cầu ngày càng tăng của công việc cũng như sự phát triển của xã hội đang trên
                                đường hội nhập.
                            </p>
                            <h6 class="font-weight-bold">Về hàng hóa</h6>

                            <p>
                                <p>Công ty <strong style="color: #009900">GreenHouse</strong> chuyên kinh doanh: sách
                                    quốc văn, ngoại văn, văn hóa phẩm, văn phòng
                                    phẩm, dụng cụ học tập, quà lưu niệm, đồ chơi dành cho trẻ em… Một số Nhà sách trực
                                    thuộc
                                    Công ty <strong style="color: #009900">GreenHouse</strong> còn kinh doanh các mặt
                                    hàng siêu thị như: hàng tiêu dùng, hàng gia
                                    dụng,
                                    hóa mỹ phẩm…</p>

                                <p>Sách quốc văn với nhiều thể loại đa dạng như sách giáo khoa – tham khảo, giáo trình,
                                    sách học ngữ, từ điển, sách tham khảo thuộc nhiều chuyên ngành phong phú: văn học,
                                    tâm
                                    lý – giáo dục, khoa học kỹ thuật, khoa học kinh tế - xã hội, khoa học thường thức,
                                    sách
                                    phong thủy, nghệ thuật sống, danh ngôn, sách thiếu nhi, truyện tranh, truyện đọc, từ
                                    điển, công nghệ thông tin, khoa học – kỹ thuật, nấu ăn, làm đẹp... của nhiều Nhà
                                    xuất
                                    bản, nhà cung cấp sách có uy tín như: NXB Trẻ, Giáo Dục, Kim Đồng, Văn hóa -Văn
                                    Nghệ,
                                    Tổng hợp TP.HCM, Chính Trị Quốc Gia; Công ty Đông A, Nhã Nam, Bách Việt, Alphabook,
                                    Thái
                                    Hà, Minh Lâm, Đinh Tị, Minh Long, TGM, Sáng Tạo Trí Việt, Khang Việt, Toàn Phúc…</p>

                                <p>Sách ngoại văn bao gồm: từ điển, giáo trình, tham khảo, truyện tranh thiếu nhi , sách
                                    học ngữ, từ vựng, ngữ pháp, luyện thi TOEFL, TOEIC, IELS…được nhập từ các NXB nước
                                    ngoài
                                    như: Cambridge, Mc Graw-Hill, Pearson Education, Oxford, Macmillan, Cengage
                                    Learning…</p>
                                <p>Văn phòng phẩm, dụng cụ học tập, đồ chơi dành cho trẻ em, hàng lưu niệm… đa dạng,
                                    phong
                                    phú, mẫu mã đẹp, chất lượng tốt, được cung ứng bởi các công ty, nhà cung cấp uy tín
                                    như:
                                    Thiên Long, XNK Bình Tây, Hạnh Thuận, Ngô Quang, Việt Văn, Trương Vui, Hương Mi,
                                    Phương
                                    Nga, Việt Tinh Anh, Chăm sóc trẻ em Việt, Mẹ và em bé…</p>
                                <p>Cùng với việc phát hành độc quyền nhiều ấn bản các loại của các Nhà xuất bản là năng
                                    lực
                                    in ấn, sản xuất cung ứng nguồn hàng của Xí nghiệp in <strong
                                        style="color: #009900">GreenHouse</strong>, đã giúp Công ty luôn
                                    chủ
                                    động được nguồn hàng, nhất là các mặt hàng độc quyền như: lịch bloc, tập học sinh,
                                    sổ
                                    tay cao cấp, agenda, văn phòng phẩm, dụng cụ học tập…</p>
                            </p>

                            <h6 class="font-weight-bold">Hệ thống Nhà sách chuyên nghiệp</h6>

                            <p>

                                <p> Năm 2021 Công ty đã được Cục Sở hữu Trí tuệ Việt Nam công nhận sở hữu độc quyền tên
                                    thương hiệu <strong style="color: #009900">GreenHouse</strong>.</p>

                                <p> Năm 2022, Công ty <strong style="color: #009900">GreenHouse</strong> được Trung tâm
                                    sách kỷ lục Việt Nam công nhận là đơn vị có hệ
                                    thống Nhà sách nhiều nhất Việt Nam; được Tạp chí The Guide công nhận Nhà sách Xuân
                                    Thu -
                                    đơn vị trực thuộc Công ty <strong style="color: #009900">GreenHouse</strong> là Nhà
                                    sách Ngoại văn đẹp nhất, lớn nhất, quy mô nhất,
                                    nhiều sách nhất ở Thành phố Cần Thơ và cả nước.</p>

                                <p>Năm 2022 <strong style="color: #009900">GreenHouse</strong> là Doanh nghiệp nằm trong
                                    Top 10 nhà bán lẻ hàng đầu Việt Nam. Đặc biệt
                                    năm 2023 <strong style="color: #009900">GreenHouse</strong> đạt danh
                                    hiệu Top 500 Nhà bán lẻ hàng đầu Châu Á Thái Bình
                                    Dương, giải thưởng được tạp chí Retail Asia (Singapore) bình chọn.</p>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>





        <section class="section-margin">
            <h2 class="sr-only">Brand Slider</h2>
            <div class="container">
                <div class="brand-slider sb-slick-slider border-top border-bottom" data-slick-setting='{
                                            "autoplay": true,
                                            "autoplaySpeed": 8000,
                                            "slidesToShow": 6
                                            }' data-slick-responsive='[
                {"breakpoint":992, "settings": {"slidesToShow": 4} },
                {"breakpoint":768, "settings": {"slidesToShow": 3} },
                {"breakpoint":575, "settings": {"slidesToShow": 3} },
                {"breakpoint":480, "settings": {"slidesToShow": 2} },
                {"breakpoint":320, "settings": {"slidesToShow": 1} }
            ]'>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh1.jfif" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh2.jfif" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh3.jpg" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh4.jpeg" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh5.jpg" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh6.avif" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh7.jpg" alt="">
                    </div>
                    <div class="single-slide1">
                        <img src="/client/image/others/lh8.webp" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

</html>